{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    {% block js %}
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'>
        </script>
     <script type="text/javascript">
     $(document).ready(function(){
     $('#gen_description').attr('disabled', 'disabled');
     $('#store_description').attr('disabled', 'disabled');
     $('#sent_description').attr('disabled', 'disabled');
     $('#gen_category').click(function(){
        $('#gen_description').empty();
        $('#gen_description').removeAttr('disabled');
        cat_id = $(this).val();
        var request_url = '/get_description/?cat_id=' + cat_id;
        $.ajax({
        url: request_url,
        datatype: 'json',
        success: function(data){
            $.each(JSON.parse(data), function(key,value) {
                $('#gen_description').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })
     })
     $('#store_category').click(function(){
        $('#store_description').empty();
        $('#store_description').removeAttr('disabled');
        cat_id = $(this).val();
        var request_url = '/get_description/?cat_id=' + cat_id;
        $.ajax({
        url: request_url,
        datatype: 'json',
        success: function(data){
            $.each(JSON.parse(data), function(key,value) {
                $('#store_description').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })
     })
     $('#sent_category').click(function(){
        $('#sent_description').empty();
        $('#sent_description').removeAttr('disabled');
        cat_id = $(this).val();
        var request_url = '/get_description/?cat_id=' + cat_id;
        $.ajax({
        url: request_url,
        datatype: 'json',
        success: function(data){
            $.each(JSON.parse(data), function(key,value) {
                $('#sent_description').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })
     })
 });
     </script>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
    <div class='top-wrapper'>
    <div class='branding'>
           <a href='{% url 'waste.src.views.main_form' %}'> <h2>Guru Nanak Dev Engineering College</h2></a>
    </div>
    <div class='logout'>
    <a href='{% url 'admin:logout' %}'><img src="{% static 'icons/Logout.png' %}"><span class="panel-text">Logout</span></a>
</div>
</div>
    <div class="container">
        
    {% block content %}
    {% endblock %}
</div>
</body>
