{% extends 'base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>
            Form
        </title> 
    {% endblock %}
</head>
<body>
	{% block content %}
	<div class='form-container'>
	<form role="form" method="POST" action=''>
		            {% csrf_token %}
     <table class='form-table-main'>
    	<div class="form-group">
    		{% if user.is_superuser %}
    	{% for fields in dept_form %}
    	<tr>
    		<td><label for="gen_category">{{ fields.label_tag }}</label></td>
			
		<td>{{ fields }}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</div>
</table>
    <hr>
    <h3>E-waste handled/generated</h3>

    <table class='form-table-main'>
    	<div class="form-group">
		{% for select in user_selections %}
    	<tr>
    		<td >{{select.category}}</td>
    	
			<td>{{select.description}}</td>
		
			
		<td><input type="number" name="quantity" min="0" value="0" >
	<input type="hidden" name="category" value="{{select.category_id}}" >
<input type="hidden" name="description" value="{{select.description_id}}"</td>

	</tr>
	{% endfor %}
	
</div>
</table>
<hr>
<center><input type="submit" value="Submit"></center>
</form>
	
	
    {% endblock %}
</body>
