{% extends 'base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>
            Form
        </title> 
    {% endblock %}
</head>
<body>
	{% block content %}
	<div class='form-container'>
	<form role="form" method="POST" action=''>
		            {% csrf_token %}
     <table class='form-table-main'>
    	<div class="form-group">
    		{% if user.is_superuser %}
    	{% for fields in dept_form %}
    	<tr>
    		<td><label for="gen_category">{{ fields.label_tag }}</label></td>
			
		<td>{{ fields }}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</div>
</table>
    <hr>
    <h3>E-waste handled/generated</h3>

    <table class='form-table-main'>
    	<div class="form-group">
		{% for cat in category %}
    	
    		<td rowspan="37">{{cat.category}}</td>
			
			
		{% for desc in description %}
			{% if cat.id == desc.category_id %}  
    	<tr>
			<td>{{desc.description}}</td>
		
			
		<td><input type="number" name="quantity" value=0 >
	<input type="hidden" name="category" value="{{cat.id}}" >
<input type="hidden" name="description" value="{{desc.id}}"</td>
{% endif %}

	
	{% endfor %}
	</tr>
			
	{% endfor %}


	<tr>
<input type="submit" value="Submit"></tr></table>
</div>
</table></form>
	<hr>
	
    {% endblock %}
</body>
