{% extends 'base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>
            Form
        </title> 
    {% endblock %}
</head>
<body>
	{% block content %}
	<div class='form-container'>
	<form role="form" method="POST" action=''>
		            {% csrf_token %}
     <table class='form-table-main'>
    	<div class="form-group">
    	{% for fields in dept_form %}
    	<tr>
    		<td><label for="gen_category">{{ fields.label_tag }}</label></td>
			
		<td>{{ fields }}</td>
	</tr>
	{% endfor %}
	</div>
</table>
    <hr>
    <h3>E-waste handled/generated</h3>
    <table class='form-table-main'>
    	<div class="form-group">
    	{% for fields in waste_gen %}
    	<tr>
    		<td><label for="gen_category">{{ fields.label_tag }}</label></td>
			
		<td>{{ fields }}</td>
	</tr>
	{% endfor %}
	</div>
</table>
	<hr>
	<h3>E-waste stored</h3>
	<table class='form-table-main'>
    	<div class="form-group">
    	{% for fields in waste_stored %}
    	<tr>
    		<td><label for="gen_category">{{ fields.label_tag }}</label></td>
			
		<td>{{ fields }}</td>
	</tr>
	{% endfor %}
	</div>
</table>
	<hr>
	<h3>E-waste sent to recycler</h3>
	<table class='form-table-main'>
    	<div class="form-group">
    	{% for fields in waste_sent %}
    	<tr>
    		<td><label for="gen_category">{{ fields.label_tag }}</label></td>
			
		<td>{{ fields }}</td>
	</tr>
	{% endfor %}
	</div>
</table>
	<hr>

<input type="submit" class="btn btn-info btn-large" value="Submit Information">
</form>

</div>
    {% endblock %}
</body>